import /init.recovery.qcom_decrypt.rc

service healthy-boot /system/bin/healthy-boot.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on post-fs
    start boot-hal-1-1

on boot
    chmod 0777 /system/bin/healthy-boot.sh
    start healthy-boot
    start health-hal-2-1
    setprop sys.usb.config adb

